@import '~bootstrap/scss/bootstrap.scss';
@import "./customGithub";
@import "./animations";
@import "./index";
@import "./typography";
@import "./stars";

@media all and ( min-width: 560px ) {
    .media_style { 
        width:560px;
        padding-bottom:315px !important;
    }
}

.mwv-40 {
    max-width: 40vw!important;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    [class*="card"] {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }
    td {
        color: white;
    }
    tr {
        color: white;
    }

    footer {
        background-color: black!important;
        color: white!important;
    }
}

/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }

}

