:root,[data-color-mode=dark][data-dark-theme=light],[data-color-mode=light][data-light-theme=light] {
  

    --color-text-danger: #cb2431;
    --color-text-success: #22863a;
    --color-text-warning: #b08800;
 
    --color-tooltip-text: #fff;
    --color-tooltip-bg: #24292e;
    --color-header-search-bg: #24292e;
    --color-header-search-border: #444d56;
   
    --color-btn-hover-bg: #f3f4f6;
    --color-btn-hover-border: rgba(27,31,35,0.15);
    --color-btn-focus-bg: #fafbfc;
    --color-btn-focus-border: rgba(27,31,35,0.15);

    
}


code,pre,tt {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px
}

pre {
    margin-bottom: 0;
    margin-top: 0
}

.octicon {
    fill: currentColor;
    display: inline-block;
    overflow: visible!important;
    vertical-align: text-bottom
}

.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 16px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap
}

.btn:hover {
    text-decoration: none
}

.btn.disabled,.btn:disabled,.btn[aria-disabled=true] {
    cursor: default
}

.btn.disabled .octicon,.btn:disabled .octicon,.btn[aria-disabled=true] .octicon {
    color: var(--color-icon-tertiary)
}

.btn i {
    font-style: normal;
    font-weight: 500;
    opacity: .75
}

.btn .octicon {
    color: var(--color-text-tertiary);
    margin-right: 4px;
    vertical-align: text-bottom
}

.btn .octicon:only-child {
    margin-right: 0
}

.btn .Counter {
    background-color: var(--color-btn-counter-bg);
    color: inherit;
    margin-left: 2px;
    text-shadow: none;
    vertical-align: top
}

.btn .dropdown-caret {
    margin-left: 4px;
    opacity: .8
}

.btn {
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    box-shadow: var(--color-btn-shadow),var(--color-btn-inset-shadow);
    color: var(--color-btn-text);
    transition: .2s cubic-bezier(.3,0,.5,1);
    transition-property: color,background-color,border-color
}

.btn.hover,.btn:hover,[open]>.btn {
    background-color: var(--color-btn-hover-bg);
    border-color: var(--color-btn-hover-border);
    transition-duration: .1s
}

.btn:active {
    background-color: var(--color-btn-active-bg);
    border-color: var(--color-btn-active-border);
    transition: none
}

.btn.selected,.btn[aria-selected=true] {
    background-color: var(--color-btn-selected-bg);
    box-shadow: var(--color-shadow-inset)
}

.btn.disabled,.btn:disabled,.btn[aria-disabled=true] {
    background-color: var(--color-btn-bg);
    border-color: var(--color-btn-border);
    color: var(--color-text-disabled)
}

.btn.focus,.btn:focus {
    border-color: var(--color-btn-focus-border);
    box-shadow: var(--color-btn-focus-shadow);
    outline: none
}

.btn-primary {
    background-color: var(--color-btn-primary-bg);
    border-color: var(--color-btn-primary-border);
    box-shadow: var(--color-btn-primary-shadow),var(--color-btn-primary-inset-shadow);
    color: var(--color-btn-primary-text)
}

.btn-primary.hover,.btn-primary:hover,[open]>.btn-primary {
    background-color: var(--color-btn-primary-hover-bg);
    border-color: var(--color-btn-primary-hover-border)
}

.btn-primary.selected,.btn-primary:active,.btn-primary[aria-selected=true] {
    background-color: var(--color-btn-primary-selected-bg);
    box-shadow: var(--color-btn-primary-selected-shadow)
}

.btn-primary.disabled,.btn-primary:disabled,.btn-primary[aria-disabled=true] {
    background-color: var(--color-btn-primary-disabled-bg);
    border-color: var(--color-btn-primary-disabled-border);
    color: var(--color-btn-primary-disabled-text)
}

.btn-primary.disabled .octicon,.btn-primary:disabled .octicon,.btn-primary[aria-disabled=true] .octicon {
    color: var(--color-btn-primary-disabled-text)
}

.btn-primary.focus,.btn-primary:focus {
    background-color: var(--color-btn-primary-focus-bg);
    border-color: var(--color-btn-primary-focus-border);
    box-shadow: var(--color-btn-primary-focus-shadow)
}

.btn-primary .Counter {
    background-color: var(--color-btn-primary-counter-bg);
    color: inherit
}

.btn-primary .octicon {
    color: var(--color-btn-primary-icon)
}

.btn-outline {
    color: var(--color-btn-outline-text)
}

.btn-outline:hover,[open]>.btn-outline {
    background-color: var(--color-btn-outline-hover-bg);
    border-color: var(--color-btn-outline-hover-border);
    box-shadow: var(--color-btn-outline-hover-shadow),var(--color-btn-outline-hover-inset-shadow);
    color: var(--color-btn-outline-hover-text)
}

.btn-outline:hover .Counter,[open]>.btn-outline .Counter {
    background-color: var(--color-btn-outline-hover-counter-bg)
}

.btn-outline:hover .octicon,[open]>.btn-outline .octicon {
    color: inherit
}

.btn-outline.selected,.btn-outline:active,.btn-outline[aria-selected=true] {
    background-color: var(--color-btn-outline-selected-bg);
    border-color: var(--color-btn-outline-selected-border);
    box-shadow: var(--color-btn-outline-selected-shadow);
    color: var(--color-btn-outline-selected-text)
}

.btn-outline.disabled,.btn-outline:disabled,.btn-outline[aria-disabled=true] {
    background-color: var(--color-btn-outline-disabled-bg);
    border-color: var(--color-btn-border);
    box-shadow: none;
    color: var(--color-btn-outline-disabled-text)
}

.btn-outline.disabled .Counter,.btn-outline:disabled .Counter,.btn-outline[aria-disabled=true] .Counter {
    background-color: var(--color-btn-outline-disabled-counter-bg)
}

.btn-outline:focus {
    border-color: var(--color-btn-outline-focus-border);
    box-shadow: var(--color-btn-outline-focus-shadow)
}

.btn-outline .Counter {
    background-color: var(--color-btn-outline-counter-bg);
    color: inherit
}

.btn-danger {
    color: var(--color-btn-danger-text)
}

.btn-danger .octicon {
    color: var(--color-btn-danger-icon)
}

.btn-danger:hover,[open]>.btn-danger {
    background-color: var(--color-btn-danger-hover-bg);
    border-color: var(--color-btn-danger-hover-border);
    box-shadow: var(--color-btn-danger-hover-shadow),var(--color-btn-danger-hover-inset-shadow);
    color: var(--color-btn-danger-hover-text)
}

.btn-danger:hover .Counter,[open]>.btn-danger .Counter {
    background-color: var(--color-btn-danger-hover-counter-bg)
}

.btn-danger:hover .octicon,[open]>.btn-danger .octicon {
    color: var(--color-btn-danger-hover-icon)
}

.btn-danger.selected,.btn-danger:active,.btn-danger[aria-selected=true] {
    background-color: var(--color-btn-danger-selected-bg);
    border-color: var(--color-btn-danger-selected-border);
    box-shadow: var(--color-btn-danger-selected-shadow);
    color: var(--color-btn-danger-selected-text)
}

.btn-danger.disabled,.btn-danger:disabled,.btn-danger[aria-disabled=true] {
    background-color: var(--color-btn-danger-disabled-bg);
    border-color: var(--color-btn-border);
    box-shadow: none;
    color: var(--color-btn-danger-disabled-text)
}

.btn-danger.disabled .Counter,.btn-danger:disabled .Counter,.btn-danger[aria-disabled=true] .Counter {
    background-color: var(--color-btn-danger-disabled-counter-bg)
}

.btn-danger.disabled .octicon,.btn-danger:disabled .octicon,.btn-danger[aria-disabled=true] .octicon {
    color: var(--color-btn-danger-disabled-text)
}

.btn-danger:focus {
    border-color: var(--color-btn-danger-focus-border);
    box-shadow: var(--color-btn-danger-focus-shadow)
}

.btn-danger .Counter {
    background-color: var(--color-btn-danger-counter-bg);
    color: inherit
}

.btn-sm {
    font-size: 12px;
    line-height: 20px;
    padding: 3px 12px
}

.btn-sm .octicon {
    vertical-align: text-top
}

.btn-large {
    border-radius: .5em;
    font-size: inherit;
    line-height: 1.5;
    padding: .75em 1.5em
}

.btn-block {
    display: block;
    text-align: center;
    width: 100%
}

.BtnGroup {
    display: inline-block;
    vertical-align: middle
}

.BtnGroup:before {
    content: "";
    display: table
}

.BtnGroup:after {
    clear: both;
    content: "";
    display: table
}

.BtnGroup+.btn,.BtnGroup+.BtnGroup {
    margin-left: 4px
}

.BtnGroup-item {
    border-radius: 0;
    border-right-width: 0;
    float: left;
    position: relative
}

.BtnGroup-item:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.BtnGroup-item:last-child {
    border-bottom-right-radius: 6px;
    border-right-width: 1px;
    border-top-right-radius: 6px
}

.BtnGroup-item.selected,.BtnGroup-item:active,.BtnGroup-item:focus,.BtnGroup-item:hover,.BtnGroup-item[aria-selected=true] {
    border-right-width: 1px
}

.BtnGroup-item.selected+.BtnGroup-item,.BtnGroup-item.selected+.BtnGroup-parent .BtnGroup-item,.BtnGroup-item:active+.BtnGroup-item,.BtnGroup-item:active+.BtnGroup-parent .BtnGroup-item,.BtnGroup-item:focus+.BtnGroup-item,.BtnGroup-item:focus+.BtnGroup-parent .BtnGroup-item,.BtnGroup-item:hover+.BtnGroup-item,.BtnGroup-item:hover+.BtnGroup-parent .BtnGroup-item,.BtnGroup-item[aria-selected=true]+.BtnGroup-item,.BtnGroup-item[aria-selected=true]+.BtnGroup-parent .BtnGroup-item {
    border-left-width: 0
}

.BtnGroup-parent {
    float: left
}

.BtnGroup-parent:first-child .BtnGroup-item {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px
}

.BtnGroup-parent:last-child .BtnGroup-item {
    border-bottom-right-radius: 6px;
    border-right-width: 1px;
    border-top-right-radius: 6px
}

.BtnGroup-parent .BtnGroup-item {
    border-radius: 0;
    border-right-width: 0
}

.BtnGroup-parent.selected .BtnGroup-item,.BtnGroup-parent:active .BtnGroup-item,.BtnGroup-parent:focus .BtnGroup-item,.BtnGroup-parent:hover .BtnGroup-item,.BtnGroup-parent[aria-selected=true] .BtnGroup-item {
    border-right-width: 1px
}

.BtnGroup-parent.selected+.BtnGroup-item,.BtnGroup-parent.selected+.BtnGroup-parent .BtnGroup-item,.BtnGroup-parent:active+.BtnGroup-item,.BtnGroup-parent:active+.BtnGroup-parent .BtnGroup-item,.BtnGroup-parent:focus+.BtnGroup-item,.BtnGroup-parent:focus+.BtnGroup-parent .BtnGroup-item,.BtnGroup-parent:hover+.BtnGroup-item,.BtnGroup-parent:hover+.BtnGroup-parent .BtnGroup-item,.BtnGroup-parent[aria-selected=true]+.BtnGroup-item,.BtnGroup-parent[aria-selected=true]+.BtnGroup-parent .BtnGroup-item {
    border-left-width: 0
}

.BtnGroup-item:active,.BtnGroup-item:focus,.BtnGroup-parent:active,.BtnGroup-parent:focus {
    z-index: 1
}

.btn-link {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--color-text-link);
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    padding: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap
}

.btn-link:hover {
    text-decoration: underline
}

.btn-link:disabled,.btn-link:disabled:hover,.btn-link[aria-disabled=true],.btn-link[aria-disabled=true]:hover {
    color: var(--color-text-disabled);
    cursor: default
}

.btn-invisible {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: var(--color-text-link)
}

.btn-invisible.zeroclipboard-is-hover,.btn-invisible:hover {
    background: none;
    box-shadow: none;
    color: var(--color-text-link);
    outline: none
}

.btn-invisible.selected,.btn-invisible.zeroclipboard-is-active,.btn-invisible:active,.btn-invisible:focus,.btn-invisible[aria-selected=true] {
    background: none;
    border-color: var(--color-btn-active-border);
    box-shadow: var(--color-btn-focus-shadow);
    color: var(--color-text-link);
    outline: none
}

.btn-invisible.disabled,.btn-invisible:disabled,.btn-invisible[aria-disabled=true] {
    background-color: transparent
}

.btn-octicon {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: var(--color-text-secondary);
    display: inline-block;
    line-height: 1;
    margin-left: 5px;
    padding: 5px;
    vertical-align: middle
}

.btn-octicon:hover {
    color: var(--color-text-link)
}

.btn-octicon.disabled,.btn-octicon[aria-disabled=true] {
    color: var(--color-text-disabled);
    cursor: default
}

.btn-octicon.disabled:hover,.btn-octicon[aria-disabled=true]:hover {
    color: var(--color-text-disabled)
}

.btn-octicon-danger:hover {
    color: var(--color-text-danger)
}


.btn .manual-file-chooser {
    line-height: 34px;
    padding: 0;
    top: 0
}

.tooltipped {
    position: relative
}

.tooltipped:after {
    -webkit-font-smoothing: subpixel-antialiased;
    word-wrap: break-word;
    background: var(--color-tooltip-bg);
    border-radius: 6px;
    color: var(--color-tooltip-text);
    content: attr(aria-label);
    display: none;
    font: normal normal 11px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    letter-spacing: normal;
    opacity: 0;
    padding: .5em .75em;
    pointer-events: none;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: pre;
    z-index: 1000000
}

.tooltipped:before {
    border: 6px solid transparent;
    color: var(--color-tooltip-bg);
    content: "";
    display: none;
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
    z-index: 1000001
}

@keyframes tooltip-appear {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.tooltipped:active:after,.tooltipped:active:before,.tooltipped:focus:after,.tooltipped:focus:before,.tooltipped:hover:after,.tooltipped:hover:before {
    animation-delay: .4s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-name: tooltip-appear;
    animation-timing-function: ease-in;
    display: inline-block;
    text-decoration: none
}

.tooltipped-no-delay:active:after,.tooltipped-no-delay:active:before,.tooltipped-no-delay:focus:after,.tooltipped-no-delay:focus:before,.tooltipped-no-delay:hover:after,.tooltipped-no-delay:hover:before {
    animation-delay: 0s
}

.tooltipped-multiline:active:after,.tooltipped-multiline:focus:after,.tooltipped-multiline:hover:after {
    display: table-cell
}

.tooltipped-s:after,.tooltipped-se:after,.tooltipped-sw:after {
    margin-top: 6px;
    right: 50%;
    top: 100%
}

.tooltipped-s:before,.tooltipped-se:before,.tooltipped-sw:before {
    border-bottom-color: var(--color-tooltip-bg);
    bottom: -7px;
    margin-right: -6px;
    right: 50%;
    top: auto
}

.tooltipped-se:after {
    left: 50%;
    margin-left: -16px;
    right: auto
}

.tooltipped-sw:after {
    margin-right: -16px
}

.tooltipped-n:after,.tooltipped-ne:after,.tooltipped-nw:after {
    bottom: 100%;
    margin-bottom: 6px;
    right: 50%
}

.tooltipped-n:before,.tooltipped-ne:before,.tooltipped-nw:before {
    border-top-color: var(--color-tooltip-bg);
    bottom: auto;
    margin-right: -6px;
    right: 50%;
    top: -7px
}

.tooltipped-ne:after {
    left: 50%;
    margin-left: -16px;
    right: auto
}

.tooltipped-nw:after {
    margin-right: -16px
}

.tooltipped-n:after,.tooltipped-s:after {
    transform: translateX(50%)
}

.tooltipped-w:after {
    bottom: 50%;
    margin-right: 6px;
    right: 100%;
    transform: translateY(50%)
}

.tooltipped-w:before {
    border-left-color: var(--color-tooltip-bg);
    bottom: 50%;
    left: -7px;
    margin-top: -6px;
    top: 50%
}

.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 6px;
    transform: translateY(50%)
}

.tooltipped-e:before {
    border-right-color: var(--color-tooltip-bg);
    bottom: 50%;
    margin-top: -6px;
    right: -7px;
    top: 50%
}

.tooltipped-align-right-1:after,.tooltipped-align-right-2:after {
    margin-right: 0;
    right: 0
}

.tooltipped-align-right-1:before {
    right: 10px
}

.tooltipped-align-right-2:before {
    right: 15px
}

.tooltipped-align-left-1:after,.tooltipped-align-left-2:after {
    left: 0;
    margin-left: 0
}

.tooltipped-align-left-1:before {
    left: 5px
}

.tooltipped-align-left-2:before {
    left: 10px
}

.tooltipped-multiline:after {
    word-wrap: break-word;
    border-collapse: separate;
    max-width: 250px;
    white-space: pre-line;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.tooltipped-multiline.tooltipped-n:after,.tooltipped-multiline.tooltipped-s:after {
    left: 50%;
    right: auto;
    transform: translateX(-50%)
}

.tooltipped-multiline.tooltipped-e:after,.tooltipped-multiline.tooltipped-w:after {
    right: 100%
}

@keyframes pulse {
    0% {
        opacity: .3
    }

    10% {
        opacity: 1
    }

    to {
        opacity: .3
    }
}

.anim-pulse-in {
    animation-duration: .5s;
    animation-name: pulse-in
}

.color-text-primary {
    color: var(--color-text-primary)!important
}

.color-text-secondary {
    color: var(--color-text-secondary)!important
}

.color-text-tertiary {
    color: var(--color-text-tertiary)!important
}

.color-text-link {
    color: var(--color-text-link)!important
}

.color-text-success {
    color: var(--color-text-success)!important
}

.color-text-warning {
    color: var(--color-text-warning)!important
}

.color-text-danger {
    color: var(--color-text-danger)!important
}

.color-text-inverse {
    color: var(--color-text-inverse)!important
}

.color-icon-primary {
    color: var(--color-icon-primary)!important
}

.color-icon-secondary {
    color: var(--color-icon-secondary)!important
}

.color-icon-tertiary {
    color: var(--color-icon-tertiary)!important
}

.color-icon-info {
    color: var(--color-icon-info)!important
}

.color-icon-danger {
    color: var(--color-icon-danger)!important
}

.color-icon-success {
    color: var(--color-icon-success)!important
}

.color-icon-warning {
    color: var(--color-icon-warning)!important
}

.color-border-primary {
    border-color: var(--color-border-primary)!important
}

.color-border-secondary {
    border-color: var(--color-border-secondary)!important
}

.color-border-tertiary {
    border-color: var(--color-border-tertiary)!important
}

.color-border-inverse {
    border-color: var(--color-border-inverse)!important
}

.color-border-info {
    border-color: var(--color-border-info)!important
}

.color-border-success {
    border-color: var(--color-border-success)!important
}


.top-0 {
    top: 0!important
}

.right-0 {
    right: 0!important
}

.bottom-0 {
    bottom: 0!important
}

.left-0 {
    left: 0!important
}
