@import '~bootstrap/scss/bootstrap.scss';
@import "./customGithub";
@import "./animations";
@import "./index";
@import "./typography";
@import "./stars";

@media all and ( min-width: 560px ) {
    .media_style { 
        width:560px;
        padding-bottom:315px !important;
    }
}

.mwv-40 {
    max-width: 40vw!important;
}